.SH1 {
  background-image: url("../../../public/img/SH1.jpg");
  background-size: cover;
}

.SH2 {
  background-image: url("../../../public/img/SH2.jpg");
  background-size: cover;
}
.SH3 {
  background-image: url("../../../public/img/SH3.jpg");
  background-size: cover;
}
.SH4 {
  background-image: url("../../../public/img/SH4.jpg");
  background-size: cover;
}
