.service-hero-page {
    margin-top: 85px;
    position: relative;
    /* background-color: #f3ffe3; */
}

.SH1 {
    background-image: url("../../../public/img/SH1.jpg");
    width: 100%;
    height: 600px;
    background-size: cover;
    background-attachment: fixed;
    /* background-color: aqua; */
}

.service-hero-page h1 {
    font-size: 6rem;
    color: white;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.services {
    /* display: flex; */
    /* flex-direction: column; */
    /* gap: 50px; */
}

@media screen and (max-width: 400px) {
    .services {
        gap: 100px;
    }

    .service-hero-page {
        margin-top: 70px;
    }

    .service-hero-img {
        background-attachment: initial;
    }

}